html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.logopop-img {
	height:100%;
	width: 100%;
	text-align: center;
	animation-name: bg-logo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes bg-logo {
	0%		{background-color: #D9E021;}
	25%		{background-color: #00ADA5;}
	50%		{background-color: #F7931E;}
	75%		{background-color: #CA16FF;}
	100%	{background-color: #D9E021;}
}

#meilleurs-voeux {
	text-align: center;
}
.meilleurs-voeux-img {
	 object-fit: cover;
	width:100%;
	height:100%;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('img/dominator.jpg') no-repeat;
 	background-size: cover;
 	transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(img/dominator.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.font {
	position:absolute;
	left: 0;
	top: 0;
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1D1D1D;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2em;
	text-align: center;
	color: white;
	text-shadow: 8px 8px 8px;
	font-family: New Century Schoolbook, serif;
	position: absolute;
	top: 0%;
}

.petit-logo-pop {
	height: auto;
	width: 100px;
	position: absolute;
	left: 15px;
	top: 15px;
}

#logopop, #snowflakeContainer, #meilleurs-voeux {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	bottom: 0px;
	overflow: hidden;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

.bonhomme {
	text-align: center;
}
